.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
  }
  
  .centered-text {
    font-size: 2rem; /* Adjust as needed */
    color: #333; /* Dark text color */
    text-align: center;
  }
  