/* Out now banner */
.out-now-banner-container{
  height: 12.5vh !important;
  width: 90% !important;
  background-color: #e1f2fa;
  gap: 1rem;
  padding: 0.75rem !important;
}

.out-now-banner-img-div{
  height: 100%;
}

#outnow-img{
  height: 100%;
}

/* selection  */

.track-album-playlist-container{
  gap: 1rem;
}

.selection-track-container{
  max-height: 65px;
width: 50% !important;
}

.track-list{
  width: 100% !important;
}

.selection-track-cover-art-img{
  height: 45px !important;
  width: auto !important;
}

.selection-track-cover-art-img:hover,
.music-player-cover-art:hover {
  box-shadow: 5px 5px 15px rgba(83, 111, 127, 0.9) !important;
  transform: scale(1.05);
}

.selection-track-cover-art-img,
.music-player-cover-art{
  box-shadow: 5px 5px 15px rgba(83, 111, 127, 0.6) !important;
}


.track-artist-details-container{
  min-width: 100%;
  flex-direction: column;
}

.track-artist-details{
  gap: 0.5rem;
}

/* music cards  */

.music-cover {
  height: 75%;
  width: auto;
  object-fit: contain;
}

/* Container for albums */
.music-selection-container {
  max-height: 50vh;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  width: 90% !important;
  padding: 0.75rem;
}

/* Album cards styling */
.album-card-container {
  width: 200px;
}
.album-cards-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.album-card {
  height: 15rem !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.album-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* track list container  */
.music-selection-content {
  flex: 1; /* fill the remaining space */
  overflow-y: auto;
  width: 100%;
}

/* Custom music player styling */

.music-player-col {
width: 100% !important;
}

.music-player-cover-art {
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-music-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
  gap: 1rem;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.music-timeline input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.volume-slider {
  max-width: 100px;
  max-height: 50px;

  appearance: none;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  background:#0a3786;
  border: 1px solid #11b5ca;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;

}

.volume-slider::-webkit-slider-runnable-track {
  background: #ccc;
  height: 4px;
  border-radius: 2px;
}

.extra-btns-container{
  max-width: 50px;
}


/* Chrome, Safari, Edge */
.music-timeline input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #a5aecb; 
}

/* Firefox */
.music-timeline input[type="range"]::-moz-range-track {
  background-color: #a5aecb; 
}

.music-btn-disabled {
  opacity: 0.5 !important;
  pointer-events: auto; 
  filter: grayscale(100%) !important;
}

.repeat-current-track{
font-size: 13px;
}

/* overlay */

.overlay-image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.overlay-image-viewer img {
    max-height: 90%;
    max-width: 90%;
    box-shadow: 0 0 15px white;
    border-radius: 8px;
}
