.design-process{
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.service-toggler-container{
    display: flex;
    flex-direction: row;
    gap: 1rem !important;
}

.service-detail-row{
    display: flex;
    flex-direction: row;
    min-width: 100% !important;
    /* background-color: blueviolet; */
}

.service-card-container{
    padding: 0.75rem;
}

.service-card{
    /* background-color: aquamarine; */
    width: 25% !important;
}

.service-details-container-one{
    width: 75%;
    padding: 0.75rem;
    /* background-color: brown; */
}

.service-primary-container{
    padding: 0.75rem;
    width: 100% !important;
    }

.service-primary-option{
    min-width: 100% !important;
}

#default-service-togglers{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}