.entertainment-header {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .entertainment-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 0.75rem;
  }
  
  .entertainment-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-weight:bolder !important;
  }
  
  .entertainment-img {
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
  }

  .ent-row{
    display: flex;
    flex-direction: column;
    height: 100% !important;
    justify-content: center; /* Vertical center */
    align-items: center;
  }

  .ent-card-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* vertical center */
  }

  .ent-card-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 2rem;
  }

  .page-title{
    align-self: flex-start;
  }