.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
  }

  .home-row {
    gap: 3rem;
  }
  
  .centered-text {
    font-size: 2rem; /* Adjust as needed */
    color: #333; /* Dark text color */
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    padding: 10px;
  }

  
 .home-img-links-container {
  height:20rem;
 }

 .home-img-links {
  width: auto;
  height: 20rem;
  object-fit:any-link /* Make the image cover the entire card */
}


button {
  text-align: center;
  justify-content: center; 
  align-items: center;
}

